<article class="card">
  <div>
    <img src="{{ character.imgRoute }}" alt="{{ character.name }}">
    <h5>{{ character.name }}</h5>
  </div>
  <div>
    <div class="row">
      <div class="col light-text">STATUS</div>
      <div class="col orange-text ta-right">{{ character.status }}</div>
    </div>
    <div class="row">
      <div class="col light-text">SPECIES</div>
      <div class="col orange-text ta-right">{{ character.species }}</div>
    </div>
    <div class="row">
      <div class="col light-text">GENDER</div>
      <div class="col orange-text ta-right">{{ character.gender }}</div>
    </div>
    <div class="row">
      <div class="col light-text">ORIGIN</div>
      <div class="col orange-text ta-right">{{ character.origin }}</div>
    </div>
    <div class="row">
      <div class="col light-text">LAST LOCATION</div>
      <div class="col orange-text ta-right">{{ character.lastLocation }}</div>
    </div>
  </div>
</article>
